.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

/*.disable-spinner {*/
  /*-webkit-appearance: none;*/
  /*margin: 0;*/
  /*-moz-appearance: textfield;*/
/*}*/

/* Hide HTML5 Up and Down arrows. */
.no-spin::-webkit-outer-spin-button, .no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 390px) {
  .my-btn {
   font-size: 60%;
  }
}
