
body {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}
#form-control-user {
  margin-bottom: 5px;
}
.dropdown-item:hover {
  background-color:#343a40;
  color: #fff;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.navbar-brand {
	font-family: 'Mr Bedfort', cursive;
	font-size: 30px;
}
.btn-login,
.btn-submit {
  margin: auto;
}
.modal-body {
  position: relative;
}
.form-group label {
	height: 1px;
}
.carousel-inner > .carousel-item {
	min-height: 629px;
	background-size: cover;
	background-position: center center;
	margin: 0;
}
.carousel-caption {
  width:400px;
  height:300px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-100px 0 0 -200px;
}
.carousel-caption > h1 {
  font-family: 'Mr Bedfort', cursive;
  font-size: 80px;
  color: forestgreen;
  font-weight: bold;
  text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px 18px #f20;
}
.carousel-caption > h4 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
  font-style: oblique;
}
.container-fluid {
  padding-left: 0;
}
/* The Modal (background) */
.mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 110px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: inline;
    width: 100vh;
    max-width: 700px;
    background: none;
}
#modal-submit {
  background: #fff;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: inline;
    width: 80%;
    max-width: 700px;
    text-align: center;
    vertical-align: top;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
img#img.modal-content {
  width: 100%;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
#go_to_cart {
    color: #ffffff;
    margin: 0 30px;
}
#go_to_cart:hover{
    color: #cccccc;
}
.navbar-toggler-center {
  margin: auto;
}

/* The Close Button */
.myclose {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.myclose:hover,
.myclose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
section.image {
    width: 100%;
    height: 100vh;
    background: url(images/pizza.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}
section h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Mr Bedfort', cursive;
    padding-top: 100px;
    padding-bottom: 15px;
    margin: 0;
}
span#greetings {
  color: #28A828;

}
.menu {
    height: 70vh;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    padding: 5px;
    width: 40%;
}
.menu ul li a {
    font-family: 'Mr Bedfort', cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    /*width: 100px;*/
}
.menu ul li a.cd-add-to-cart {
    font-family: Quicksand;
}

.pizze,
.primi,
.panini,
.dolci,
.bevande {
    position: relative;
}
.pizze:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/pizzetta.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -1;
}
.primi:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/tagliatelle.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -1;
}
.panini:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/panino.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -2;
}
.dolci:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/cake.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -1;
}
.bevande:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/vino.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -1;
}
.price {
    font-family: 'Mr Bedfort', cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-right: 25px;
    width: 35%;
    display: inline-block;
    float: right;
}
.about-content {
  text-align: center;
}
.about-content p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 70px;
    /* text-align: justify; */
    font-size: 20px;
    line-height: 30px;
}
.signup-container:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/pizza.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity : 0.3;
    z-index: -2;
}
.modal-add-product {
  background-color: #fff;
}
#testo-notifiche {
  display: none;
}
.dropdown-notifiche {
  position: absolute;
  left: 10px;
  top: 55px;
}
#pswd_info {
    background: #dfdfdf none repeat scroll 0 0;
    color: #fff;
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 0;
    font-family: Quicksand;
}
#pswd_info h1 {
    background: black none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Quicksand;
}
#pswd_info ul {
    list-style: outside none none;
}
#pswd_info ul li {
    padding: 10px 45px;
}
.valid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
    color: green;
    line-height: 21px;
    padding-left: 22px;
}

.invalid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    padding-left: 22px;
}


#pswd_info::before {
    background: #dfdfdf none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}
#pswd_info {
    display:none;
}
.fa-navbar {
  position: absolute;
  left: 300px;
  top: 17px;
}


/*---------------PC-----------------*/
@media screen and (min-width: 767px) {

  #pswd_info {
      background: #dfdfdf none repeat scroll 0 0;
      color: #fff;
      position: absolute;
      z-index: 10;
      top: 190px;
      left: 505px;
      font-family: Quicksand;
  }

  .dropdown-notifiche {
    position: absolute;
    left: 1010px;
    top: 12px;
  }

  #testo-notifiche {
    display: inline-block;
  }

  .btn-add-product {
    position: absolute;
    top: 135px;
    right: 350px;
  }

  #link-home {
    margin-left: 35px;
  }
  #form-control-user {
    margin-bottom: 0;
  }

  input[type="number"]{width: 20%;}

  .btn {
  	margin-right: 10px;
  }
  hr {
    border: none;
  }
  .img-fluid {
    width: 60px;
  }
  .container-fluid {
    padding: 0;
  }
  .glyphicon.glyphicon-shopping-cart {
    font-size:32px;
    margin-right: 30px;
    margin-left:30px;
    color: white;
  }
  .row {
    width: 600px;
    margin: 0 auto;
  }
  .prezzo {
    text-align: right;
  }

    /*main-content.php*/
    section h1 {
        font-size: 60px;
        padding-top: 120px;
        padding-bottom: 50px;
    }
    .pizze:after,
    .panini:after,
    .primi:after,
    .dolci:after,
    .bevande:after {
        height: 100%;
    }
    .price {
        width: 10%;
    }
    .space {
        height: 0px;
    }
    .about-content p {
        width: 75%;
    }
    .add-to-cart {
        float: right;
        display: inline-block;
        margin-right: 650px;
        padding: 6px;
        background-color: lightblue;
    }
    span#greetings {
      position: absolute;
      right: 350px;
      display: inline-block;
    }
    .fa-navbar {
      position: absolute;
      right: 290px;
      top: 17px;
    }

    /*modal*/
    img {
        max-width: 70%;
        max-height: 70%;
        padding-right: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    img:hover {opacity: 0.7;}


    /* footer.php*/
    /* footer {
        width: 100%;
        background: rgba(0,0,0,0.3);
        color: #fff;
        bottom: 0;
        padding: 10px 0px;
    }
    footer p {
        padding-left: 80px;
    }
    footer a {
        color: #E2472F;
    } */

    /*signup.php*/
    .signup-container h1 {
        text-align: center;
        margin-top: 0px;
        padding-top: 140px;
        font-size: 40px;
    }
    .signup-form {
        width: 400px;
        margin: 30px auto;
    }
    .signup-form input {
        width: 90%;
        height: 40px;
        padding: 0px 5%;
        margin-bottom: 4px;
        margin-right: 10px;
        border: 1px solid #bbb;
        background-color: #fff;
        font-size: 16px;
        color: #111;
        line-height: 40px;
    }
    .signup-form button {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 40px;
        border: none;
        background-color: #333;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }
    .signup-form button:hover {
        background-color: #222;
    }
    /*Cart.php*/
    .cart-container h1 {
        text-align: center;
        margin-top: 0px;
        padding-top: 140px;
        font-size: 40px;
    }

    #go_to_cart {
        color: #ffffff;
        margin: 0 30px;
    }
    #go_to_cart:hover{
        color: #cccccc;
    }

    #greetings {
        color: #ffffff;
    }
    .myclose {
      top: 90px;
    }
    .fa-navbar {
      position: absolute;
      left: 940px;
      top: 17px;
    }


}

/*TABLET*/
@media screen and (min-width: 998px) {

}

/*iPhone 4 e iPhone 5*/
@media screen and (min-width: 430px) and (max-width: 760px) {
}

/*animate*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}
