.container-ordini {
    /*max-width: 960px;*/
}
.ordine {
    margin-bottom: 10px;
}

/*.accordion .card-header:after {*/
    /*!* symbol for "opening" panels *!*/
    /*font-family: 'FontAwesome';  !* essential for enabling glyphicon *!*/
    /*content: "\f068";    !* adjust as needed, taken from bootstrap.css *!*/
    /*float: right;        !* adjust as needed *!*/
    /*!*color: grey;         !* adjust as needed *!*!*/
/*}*/
/*.accordion .card-header.collapsed:after {*/
    /*!* symbol for "collapsed" panels *!*/
    /*content: "\f067";    !* adjust as needed, taken from bootstrap.css *!*/
/*}*/

.btn-pronto {
    float: right;
}